.detail__pokemon {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 500px;
  background: linear-gradient(90deg, #00194a 25%, #012e86 100%);
  overflow: auto;
}

.pokemon__image {
  position: relative;
  border-right: 1px solid rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 500px;
  align-self: center;
}
.background_image {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 0, 77% 0, 25% 100%, 0% 100%);
}
.pokemon__image figure {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.pokemon__image img {
  width: 70%;
  object-fit: contain;
}

.pokemon__data {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap:8px;
  color: white;
}
.pokemon__id {
  font-size: 16px;
  color: rgb(216, 209, 209);
  font-weight: 600;
}
.pokemon__data h3 {
  font-size: 36px;
  text-transform: capitalize;
}
.pokemon__data .tag {
  display: flex;
  gap: 4px;
}
.pokemon__data .tag span {
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
}

@media (width <= 500px) {
  .detail__pokemon {
    flex-direction: column;
    height: 100%;
    padding: 0px 0px 20px 0;
    min-height: 300px;
  }
  .pokemon__image {
    min-height: 0;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
  }
  .pokemon__image figure {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .pokemon__image img {
    object-fit: contain;
  }
  .pokemon__data {
    width: 100%;
    height: 50%;
  }
  .background_image {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .detail__pokemon {
    min-height: 0px;
    overflow: auto;
  }
  .pokemon__image {
    min-height: 300px;
  }
}