.modal {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__body {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(255, 255, 0, 0.457);
  overflow: hidden;
  position: relative;
}

body.jw-modal-open {
  overflow: hidden;
}
.jw-modal-open {
  display: block;
}

@media (width <= 500px) {
  .modal__body {
    box-shadow: none;
    width: 100%;
    height: 90%;
  }
  .modal {
    padding: 10px;
  }
}
